<!-- <div class="footer-container" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    @Copy right <a href="#" target="_blank">Danny's Shop</a>
    <br>
    See more <a>demo</a>
</div> -->

<footer >
            <div class="grid-container">
                <div class="grid-item">
                    <a href="login.html">My Account</a>
                </div>
                <div class="grid-item"><a href="aboutus.html">About Us</a></div>
                <!-- <div class="grid-item"><a href="termsofuse.html">Terms of Service</a></div> -->
                <div class="grid-item"><a href="#">Cart</a></div>
                <div class="grid-item"><a href="contactus.html">Contact Us</a></div>
                <div class="grid-item"><a href="faq.html">FAQ</a></div>
                <!-- <div class="grid-item"><a href="#">Checkout</a></div> -->
                <div class="grid-item"><a href="#top">Back to top</a></div>
            </div>
        <hr color="#fbff34" size="0">
        &#169;&nbsp;copyright
            <script>document.write(new Date().getFullYear())</script>, All the Rights Reserved
    </footer>